.hamburger {
  /* display: inline-block; */
  text-align: right;
  z-index:3;
}

.menu {
  position: absolute;
  height: 80px;
  width: 80%;
  border: 1px red solid;
  display: flex;
  flex-direction: row;
  /* text-align: center; */
  color: white;
  /* border: solid red 2px; */
  align-items: center;
  left: 10vw;
  font-family: 'quickregular';
  font-size: 15px;
}

.menu ul {
  display: flex;
  
}

.menu li {
  list-style: none;
  text-decoration: none;
  padding: 2rem;
}
