/* .video-container video {
  min-width: 100%;
  min-height: 100%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);

} */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

/* @media only screen and (max-width: 580px) {
  html,
  body {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
  }
} */

body {
  overflow: hidden;
  /* overscroll-behavior: none; */
  /* background-color: black; */
}

section {
  padding: 0;
  margin : 0;
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
  position: fixed;
}

.hex {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background-color: black;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
 
#gate {
  height: 100%;
  width: 100%;
} 

/* .overlay {
 position:absolute;
 background-color: rgba(0,0,0,0.3);
 height:100%;
 width: 100%;
 z-index: 2;
 display: flex;
 text-align: center;
 align-items: center;
 
}

.tag {
  color: white;
  flex: 1;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  z-index:2;
} */

@font-face {
  font-family: 'quickregular';
  src: url('quick-webfont.woff2') format('woff2'),
       url('quick-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: DOS;
  src: url(Fixedsys500c.woff);
}

