.menu {
  position: inherit;
  height: 100%;
  width: 100%;
  /* text-align: center; */
  color: white;
  /* border: solid red 2px; */
  align-items: center;
  font-family: 'quickregular';
  /* font-size: 15px; */
}

.menu ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.menu li {

  list-style: none;
  text-decoration: none;
  padding: 2rem;
  text-align: center;
}

.menuoverlay {
  position: fixed;
  z-index: 998;
  background-color: rgb(11, 30, 48);
  height: 100%;
  width: 100%;
  z-index: 3;
  vertical-align: center;
  transform-origin: right;
  transition-duration: 0.8s;
  transform: translate(110%,0); 
  transition-timing-function: ease-in-out;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
  /* mix-blend-mode: screen; */
  /* transition: border-radius 1s ease-in; */
}

/* .menuoverlayActive {
  transform: translate(0%,0);
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
} */