.overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  height:100%;
  width: 100%;
  z-index: 2;
  /* display: flex; */
  vertical-align: center;
  text-align: center;
  /* align-items: center; */
  border-top: white 0.1px solid;
  border-bottom: white 0.1px solid;
  
 }
 
 .tag {
   position: absolute;
   top: 50vh;
   left: 35vw;
   /* border: red 2px solid; */
   color: white;
   font-family: 'Amatic SC', cursive;
   font-size: 30px;
 }