/* @font-face {
    font-family: 'quickregular';
    src: url('quick-webfont.woff2') format('woff2'),
         url('quick-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

img {
  width: 100px;
  height: 100px;
}